<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Protocol</title>
</head>
<body>


<div>
    <div style ="text-align:center;">Protokół wynajmu samochodu </div>
Umowa najmu samochodu marki <strong><label th:text="${protocol.carDto.brand}" >   </label><label th:text="${protocol.carDto.model}">   </label> </strong>
    z tablicami <strong> <label th:text="${protocol.carDto.plates}" >   </label> </strong>
    pomiedzy firma wynajmujaca a najemca  <strong></strong><label th:text="${protocol.clientDto.name}" >   </label><strong></strong> </br>
    Nazwisko najemcy <strong> <label th:text="${protocol.clientDto.surname}" >   </label> </strong></br>
<!--    <label th:text="${protocol.end}" >   </label>-->
<!--    <label th:text="${reservation.price}" >   </label>-->
<!--    <label th:text ="${reservation.carPlates}"> </label>-->
</div>




</body>
</html>