<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>





</head>
<body>




<h1 class="h2">DODANIE NAJEMCY do rezerwacji</h1>

<form action="/add-reservation" method="POST">
    <label>Id klienta:</label>
    <input type="number" name="clientId"></br>

    <label>START REZERWACJI:</label>
    <input type="date" name="start"></br>
    <label>KONIEC REZERWACJI:</label>
    <input type="date" name="end"></br>
    <label>KOSZT:</label>
    <input type="number" name="price"></br>
    <input type="hidden" name="carId" th:value="${id}">


    <input type="submit" value="Dodaj rezerwacji">
</form>
</body>
</html>