<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <table class="table table-striped table-sm">





        <thead>

        <tr>

            <th scope="col">#</th>
            <th scope="col">MARKA</th>
            <th scope="col">MODEL</th>
            <th scope="col">TABLICE</th>


        </tr>

        </thead>

        <tbody>
        <tr th:each="reservation:${reservations}">
            <td th:text="${reservation.start}" >   </td>
            <td th:text="${reservation.clientName}" >   </td>
            <td th:text="${reservation.end}" >   </td>
            <td th:text="${reservation.price}" >   </td>
            <td th:text ="${reservation.carPlates}"> </td>
        </tr>


        </tbody>

    </table>




</head>
<body>

</body>
</html>